{% extends 'base.html' %}


{% block 'content' %}

<div class="wrapper">

	<div class="container mt-4">
		
	<!--Section: Contact v.2-->
	<section class="mb-4">

    <!--Section heading-->
    <h3 class="h1-responsive font-weight-bold text-center my-2">Thank you for contacting us</h3>
    <!--Section description-->
    <p class="w-responsive mx-auto mb-1">you can continue browsing the website, we will get in touch with you soon</p>

    

</section>
<!--Section: Contact v.2-->
		
	</div>

</div>

{% endblock %}